<html>
<head>
<meta content="text/html; charset=utf-8" />
<title>Gadgets</title>
</head>
<link rel="stylesheet" type="text/css" href="app.css">
<script>


</script>



<body>




<div class ="gad">





<div class="hg">Appliances</div>

<div class="card">
<center>
<img src="./img/g/pubg.png" class="logos" width=45%><br>
<p class="nhead">Alexa</p>
<p class="nhead1" align="center">Play this adventurous and survival game for free.  
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/2.png" class="logos"><br>
<p class="nhead">Google Nesst</p>
<p class="nhead1" align="center">Globally used social media for conversation and media transfer.
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/tt.png" class="logos" width=45%><br>
<p class="nhead">Air Condtioner</p>
<p class="nhead1" align="center">A social network to share short clips and videos
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/4.png" class="logos"><br>
<p class="nhead">Fan</p>
<p class="nhead1" align="center">Instagram is a simple way to capture and share the world’s moments.
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/5.png" class="logos"><br>
<p class="nhead">Television</p>
<p class="nhead1" align="center">Connect with friends and family on your social media network.
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/6.png" class="logos"><br>
<p class="nhead">Light</p>
<p class="nhead1" align="center">Life's more fun when you live in the moment :) Happy Snapping!
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/7.png" class="logos"><br>
<p class="nhead">Vaccum</p>
<p class="nhead1" align="center">Google Chrome is a fast, easy to use, and secure web browser.
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/8.png" class="logos"><br>
<p class="nhead">I-bot Servent</p>
<p class="nhead1" align="center">PicsArt is the #1 photo editor and pic collage maker on mobile.
</p>
</center>
</div>

<div class="card">
<center>
<img src="./img/a/9.png" class="logos"><br>
<p class="nhead">Fire-place</p>
<p class="nhead1" align="center">From breaking news to sports and politics when it happens in the world.
</p>
</center>
</div>
</div>
<br><br>
<div class="foot">
<hr align="center">

<p align="center" style="color:#B3B3B3">
  	
</p>

</div>
</body>
</html>